.bg-speaker-zx-7 {
  background-image: url(./image-speaker-zx7.jpg);
  background-size: cover;
}

.bg-earphones-yx-1 {
  background-image: url(./image-earphones-yx1.jpg);
  background-size: cover;
  height: 12.5rem;
}

.bg-best-gear {
  background-image: url(./image-best-gear.jpg);
  background-size: cover;
  height: 18.75rem;
}
