.ls-0 {
  letter-spacing: 0 !important;
}

.ls-1 {
  letter-spacing: 1px;
}

.ls-3 {
  letter-spacing: 3px !important;
}

.ls-5 {
  letter-spacing: 10px !important;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 1px;
}

h6,
.h6 {
  letter-spacing: 1.3px;
}

h3,
.h3 {
  letter-spacing: 2px;
}

.display-4 {
  font-size: 3.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.nav-link {
  text-transform: uppercase;
}

.nav-link {
  letter-spacing: 2px;
}

.navbar-toggler-icon {
  width: 16px !important;
  height: 15px !important;
}

.nav-link {
  font-weight: bold;
  font-size: 0.8125rem;
}

.z-9999 {
  z-index: 9999 !important;
}

.z-1 {
  z-index: 1 !important;
}
