$orange1: #d87d4a;
$gray1: #2c2c2c;
$black1: #121212;
$white1: #fefefe;
$gray2: #f1f1f1;
$gray3: #cfcfcf;

$primary: $orange1;
$dark: $black1;
$light: $gray2;

$border-radius: 8px;

$link-hover-color: $primary;

$list-inline-padding: 1rem;

$enable-rfs: false;

$paragraph-margin-bottom: 0;

$font-family-base: "Manrope", sans-serif;
$font-size-base: 0.9375rem;

$h1-font-size: 2.5rem;
$h2-font-size: 2rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25;
$h6-font-size: 1.125rem;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
) !default;

$line-height-base: 1.667;

$navbar-nav-link-padding-x: 1rem;
$nav-link-transition: none;

$navbar-dark-color: #fff;
$navbar-dark-hover-color: $primary;

$navbar-padding-y: 0;
$navbar-dark-toggler-border-color: transparent;
$navbar-toggler-padding-y: 0;
$navbar-toggler-padding-x: 0;
$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,%3Csvg width='16' height='15' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23FFF' fill-rule='evenodd'%3E%3Cpath d='M0 0h16v3H0zM0 6h16v3H0zM0 12h16v3H0z'/%3E%3C/g%3E%3C/svg%3E%0A");

$container-padding-x: 1.5rem;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$container-max-widths: (
  sm: 540px,
  md: 738px,
  lg: 960px,
  xl: 1140px,
  xxl: 1148px,
);

$card-border-width: 0;
$card-spacer-x: 1.5rem;
$card-border-radius: 8px;

$input-focus-box-shadow: none;
$input-btn-font-size: 0.8125rem;
$btn-line-height: 1.25rem;
$btn-border-radius: 0;
$btn-padding-y: 0.8125rem;
$btn-padding-x: 1.8rem;
$btn-font-weight: 700;
$btn-hover-bg-tint-amount: 30%;
$btn-hover-border-tint-amount: 20%;
$btn-padding-y-sm: 0.3rem;
$btn-padding-x-sm: 0.75rem;
$btn-font-size-sm: 0.8125rem;

$spacer: 1rem;

$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6,
);

$modal-inner-padding: 1.5rem;
$modal-content-border-width: 0;
$modal-footer-border-width: 0;
$modal-header-border-width: 0;
$modal-sm: 23rem;

$form-label-font-weight: bold;
$form-label-font-size: 0.75rem;
$form-label-margin-bottom: 0.5rem;

$input-border-color: $gray3;
$input-padding-y: 1rem;
$input-padding-x: 1.5rem;
$input-font-size: 0.875rem;
$input-line-height: 1.6;
$input-font-weight: bold;
$input-color: rgba(#000, 50%);

$form-check-input-checked-color: $primary;
$form-check-input-checked-bg-color: #fff;

$form-check-input-checked-border-color: 1px solid rgba(0, 0, 0, 0.25);
