@import "styles/shared";

.home-header {
  margin-top: -6rem;
  background-image: url(/assets/home/mobile/image-header.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  @include media-breakpoint-up(md) {
    background-size: contain;
    background-position: center;
    background-image: url(/assets/home/tablet/image-header.jpg);
  }

  @include media-breakpoint-up(xxl) {
    background-image: url(./assets/home/desktop/image-hero.jpg);
    background-position: right center;
  }
}
