@import "styles/shared";

.bg-speaker-zx-7 {
  background-image: url(/assets/home/mobile/image-speaker-zx7.jpg);
  background-size: cover;

  @include media-breakpoint-up(md) {
    background-image: url(/assets/home/tablet/image-speaker-zx7.jpg);
  }

  @include media-breakpoint-up(lg) {
    background-image: url(/assets/home/desktop/image-speaker-zx7.jpg);
  }
}
