@import "scss/shared";

.zx9-speaker {
  width: 172px;

  @include media-breakpoint-up(md) {
    width: 197px;
  }

  @include media-breakpoint-up(xxl) {
    bottom: -13%;
    left: -10%;
    width: 380px;
  }
}

.ovals {
  left: 50%;
  top: 33%;
  width: 100%;

  @include media-breakpoint-up(md) {
    top: 45%;
  }

  @include media-breakpoint-up(xxl) {
    left: 36%;
    top: 50%;
    width: 73%;
  }
}
