@import "theme";

$border-radius: 8px;

$link-hover-color: $primary;

$list-inline-padding: 1rem;

$font-family-base: "Manrope", sans-serif;

$navbar-nav-link-padding-x: 1rem;

$navbar-dark-color: #fff;
$navbar-dark-hover-color: $primary;

$navbar-padding-y: 0;
$navbar-dark-toggler-border-color: transparent;
$navbar-toggler-padding-y: 0;
$navbar-toggler-padding-x: 0;
$navbar-dark-toggler-icon-bg: url("../../../src/assets/shared/tablet/icon-hamburger.svg");

$container-padding-x: 1.5rem;

$card-border-width: 0;
$card-spacer-x: 1.5rem;
$card-border-radius: 8px;

$btn-border-radius: 0;
$btn-padding-y: 1rem;
$btn-padding-x: 1.5rem;
$btn-font-weight: 700;
$btn-hover-bg-tint-amount: 30%;
$btn-hover-border-tint-amount: 20%;

$spacer: 1rem;

$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6,
);

$modal-content-border-width: 0;
$modal-footer-border-width: 0;
$modal-header-border-width: 0;
$modal-sm: 23rem;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/utilities";
@import "utilities";
@import "~bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap");

$letter-spacer: 3px;

.ls-3 {
  letter-spacing: $letter-spacer;
}

.ls-5 {
  letter-spacing: $letter-spacer * 3;
}

.btn {
  text-transform: uppercase;
  letter-spacing: $letter-spacer * 0.5;
  font-size: $font-size-base * 0.8125;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.nav-link {
  letter-spacing: $letter-spacer * 0.5;
  text-transform: uppercase;
}

.navbar-toggler-icon {
  width: 16px;
  height: 15px;
}

.nav-link {
  font-weight: bold;
  font-size: $font-size-base * 0.8125;
}

.z-9999 {
  z-index: 9999;
}

.z-1 {
  z-index: 1;
}

body {
  padding-top: 4.6875rem;
}
