name: Create Diagram
on: [push]
jobs:
  Create-Diagram:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Repo Visualizer
        uses: githubocto/repo-visualizer@0.3.0
        with:
          excluded_paths: public/
